.card {
    display: inline-block;
    width: 60px;
    height: 50px;
    background-color: rgb(214, 214, 214);
    text-align: center;
    margin-right: 5px;
    line-height: 50px;
    font-weight: bold;
    font-size: 30px;
}

.red {
    color: red;
}

.black {
    color: black;
}